<launch>

    <node pkg="opentera_client_ros" type="opentera_client_ros.py" name="opentera_client_ros"></node>

    <!-- Camera 1 -->
    <include file="$(find opentera_webrtc_ros)/launch/ros_stream_client.launch">
        <arg name="name" value="topic_streamer1"/>
        <arg name="is_stand_alone" value="false"/>

        <arg name="can_send_stream" value="true"/>
        <arg name="can_receive_stream" value="true"/>
        <arg name="is_screen_cast" value="false"/>
        <arg name="needs_denoising" value="false"/>

        <arg name="server_url" value="http://localhost:40075"/>
        <arg name="client_name" value="Camera 1"/>
        <arg name="room_name" value="chat"/>
        <arg name="room_password" value="abc"/>

        <arg name="camera_topic" value="/beam/camera1/image_raw"/>
    </include>

    <!-- Camera 2 -->
    <include file="$(find opentera_webrtc_ros)/launch/ros_stream_client.launch">
        <arg name="name" value="topic_streamer2"/>
        <arg name="is_stand_alone" value="false"/>

        <arg name="can_send_stream" value="true"/>
        <arg name="can_receive_stream" value="false"/>
        <arg name="is_screen_cast" value="false"/>
        <arg name="needs_denoising" value="false"/>

        <arg name="server_url" value="http://localhost:40075"/>
        <arg name="client_name" value="Camera 2"/>
        <arg name="room_name" value="chat"/>
        <arg name="room_password" value="abc"/>

        <arg name="camera_topic" value="/realsense/color/image_raw"/>
    </include>

    <!-- Data Channel -->
    <include file="$(find opentera_webrtc_ros)/launch/ros_data_channel_client.launch">
        <arg name="name" value="data_streamer"/>
        <arg name="is_stand_alone" value="false"/>

        <arg name="server_url" value="http://localhost:40075"/>
        <arg name="client_name" value="Data Channel"/>
        <arg name="room_name" value="chat"/>
        <arg name="room_password" value="abc"/>
    </include>

</launch>