<launch>
  <node name="topic_streamer1" pkg="opentera_webrtc_ros" type="topic_streamer">
    <rosparam>
    ~stream:
        is_screen_cast: false     # Is the image source a screen capture?
        needs_denoising: false    # Does the image source needs denoising?

    ~signaling:
      server_url: "http://localhost:8080" # Signaling server URL
      client_name: "streamer" # Peer name as which to join the room
      room_name: "chat"       # Room name to join
      room_password: "abc"    # Room password
    </rosparam>
    <rosparam param="can_send_stream">true</rosparam>
    <rosparam param="can_receive_stream">true</rosparam>
    <remap from="ros_image" to="camera1/image_raw"/>
  </node>
  
  <node name="topic_streamer2" pkg="opentera_webrtc_ros" type="topic_streamer">
    <rosparam>
    ~stream:
        is_screen_cast: false     # Is the image source a screen capture?
        needs_denoising: false    # Does the image source needs denoising?

    ~signaling:
      server_url: "http://localhost:8080" # Signaling server URL
      client_name: "streamer" # Peer name as which to join the room
      room_name: "chat"       # Room name to join
      room_password: "abc"    # Room password
    </rosparam>
    <rosparam param="can_send_stream">true</rosparam>
    <rosparam param="can_receive_stream">false</rosparam>
    <remap from="ros_image" to="camera2/image_raw"/>
  </node>
  
  <node name="camera1" pkg="cv_camera" type="cv_camera_node">
    <param name="device_id" value="2"/>
  </node>
  
  <node name="camera2" pkg="cv_camera" type="cv_camera_node">
    <param name="device_id" value="3"/>
  </node>
  
</launch>
