<launch>
    <!-- Arguments -->
    <arg name="name" default="data_channel_bridge"/>
    <arg name="is_stand_alone" default="false"/>

    <arg name="server_url" default="http://localhost:8080"/>
    <arg name="client_name" default="streamer"/>
    <arg name="room_name" default="data"/>
    <arg name="room_password" default="password"/>

    <node name="client" pkg="opentera_client_ros" type="opentera_client_ros.py" output="screen">
        <param name="config_file" value="$(find opentera_client_ros)/config/local_config.json" />
    </node>


    <node name="$(arg name)" pkg="opentera_webrtc_ros" type="data_channel_bridge" output="screen">
        <rosparam param="is_stand_alone" subst_value="true">$(arg is_stand_alone)</rosparam>
        <rosparam param="signaling" subst_value="true">
            {
                server_url: "$(arg server_url)",      # Signaling server URL
                client_name: $(arg client_name),      # Peer name as which to join the room
                room_name: $(arg room_name),          # Room name to join
                room_password: $(arg room_password)   # Room password
            }
        </rosparam>
    </node>
</launch>
