[submodule "opentera-webrtc-ros/opentera-webrtc"]
	path = opentera_webrtc_ros/opentera-webrtc
	url = ../opentera-webrtc.git
[submodule "opentera-webrtc-demos/opentera-webrtc-teleop-frontend"]
	path = opentera_webrtc_demos/opentera-webrtc-teleop-frontend
	url = ../opentera-webrtc-teleop-frontend.git
