<launch>
    <arg name="loopback_cam" default="2"/>

    <!-- Loopback or webcam camera -->
    <node pkg="cv_camera" type="cv_camera_node" name="camera1">
        <param name="device_id" type="int" value="$(arg loopback_cam)"/>
        <remap from="cv_camera/image_raw" to="camera1/image_raw" />
    </node>

    <!-- Robot GUI-->
    <node pkg="opentera_webrtc_robot_gui" type="opentera_webrtc_robot_gui_node" name="robot_gui" output="screen">

    </node>

</launch>   