<launch>

    <arg name="signalling_server_hostname" default="localhost"/>
    <arg name="signaling_server_port" default="8080"/>
    <arg name="signaling_server_password" default="abc"/>

    <!-- Launch beam -->
    <include file="$(find beam_control)/launch/start_beam.launch" />

    <!-- Signaling server -->
    <include file="$(find opentera_webrtc_demos)/launch/opentera_signaling_server.launch">
        <arg name="signaling_server_port" value="$(arg signaling_server_port)" />
        <arg name="signaling_server_password" value="$(arg signaling_server_password)" />
    </include>

    <!-- Map image generator -->
    <!-- <include file="$(find map_image_generator)/launch/map_image_generator.launch" >
        <arg name="refresh_rate_param" value="5"/>
        <arg name="input_global_path_topic" value="/move_base/NavfnROS/plan"/>
        <arg name="draw_goal" default="false"/>
    </include> -->

    <!-- Front camera driver -->
    <arg name="front_camera_name" value="front_camera" />
    <node name="$(arg front_camera_name)" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="camera_name" value="$(arg front_camera_name)" />
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="1280" />
        <param name="image_height" value="720" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="$(arg front_camera_name)_link" />
        <param name="io_method" value="mmap"/>
    </node>

    <!-- Bottom camera driver -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="d455"/>
        <arg name="enable_color" value="true"/>
        <arg name="depth_fps" value="15"/>
        <arg name="publish_tf" value="false"/>
        <arg name="depth_width" value="1280"/>
        <arg name="depth_height" value="720"/>
        <arg name="enable_depth" value="true"/>
        <arg name="color_width" value="1280"/>
        <arg name="color_height" value="720"/>
        <arg name="color_fps" value="15"/>
    </include>

    <!-- Front camera stream -->
    <include file="$(find opentera_webrtc_ros)/launch/ros_stream_client.launch">
        <arg name="name" value="topic_streamer1"/>
        <arg name="is_stand_alone" value="true"/>
        <arg name="can_send_stream" value="true"/>
        <arg name="can_receive_stream" value="true"/>
        <arg name="is_screen_cast" value="false"/>
        <arg name="needs_denoising" value="false"/>
        <arg name="server_url" value="http://localhost:$(arg signaling_server_port)"/>
        <arg name="client_name" value="Robot Camera 1"/>
        <arg name="room_name" value="VideoConf"/>
        <arg name="room_password" value="$(arg signaling_server_password)"/>
        <arg name="camera_topic" value="/front_camera/image_raw"/>
    </include>

    <!-- Bottom camera -->
    <include file="$(find opentera_webrtc_ros)/launch/ros_stream_client.launch">
        <arg name="name" value="topic_streamer2"/>
        <arg name="is_stand_alone" value="true"/>
        <arg name="can_send_stream" value="true"/>
        <arg name="can_receive_stream" value="true"/>
        <arg name="is_screen_cast" value="false"/>
        <arg name="needs_denoising" value="false"/>
        <arg name="server_url" value="http://localhost:$(arg signaling_server_port)"/>
        <arg name="client_name" value="Robot Camera 2"/>
        <arg name="room_name" value="CameraX"/>
        <arg name="room_password" value="$(arg signaling_server_password)"/>
        <arg name="camera_topic" value="/d455/color/image_raw"/>
    </include>

    <!-- Map image stream -->
    <include file="$(find opentera_webrtc_ros)/launch/ros_stream_client.launch">
        <arg name="name" value="topic_streamer3"/>
        <arg name="is_stand_alone" value="true"/>
        <arg name="can_send_stream" value="true"/>
        <arg name="can_receive_stream" value="true"/>
        <arg name="is_screen_cast" value="false"/>
        <arg name="needs_denoising" value="false"/>
        <arg name="server_url" value="http://localhost:$(arg signaling_server_port)"/>
        <arg name="client_name" value="Map image"/>
        <arg name="room_name" value="Map"/>
        <arg name="room_password" value="$(arg signaling_server_password)"/>
        <arg name="camera_topic" value="/map_image_generator/image"/>
    </include>

    <!-- Data Channel  -->
    <include file="$(find opentera_webrtc_ros)/launch/ros_data_channel_client.launch">
        <arg name="name" value="data_streamer"/>
        <arg name="is_stand_alone" value="true"/>

        <arg name="server_url" value="http://localhost:$(arg signaling_server_port)"/>
        <arg name="client_name" value="Robot Data Channel"/>
        <arg name="room_name" value="Teleop"/>
        <arg name="room_password" value="$(arg signaling_server_password)"/>
    </include>

    <!-- Json Message Handler -->
    <include file="$(find opentera_webrtc_ros)/launch/ros_json_data_handler.launch">
        <arg name="name" value="json_data_handler"/>
        <arg name="input_topic" value="/webrtc_data"/>
        <arg name="linear_multiplier" value="0.5"/>
        <arg name="angular_multiplier" value="0.35"/>
        <arg name="cmd_vel_topic" value="/output/cmd_vel"/>
    </include>

    <!-- Robot status simulated data -->
    <node name="robot_status" type="robot_status.py" pkg="opentera_webrtc_demos" />


</launch>
 
