<launch>
    <arg name="signalling_server_hostname" default="localhost"/>
    <arg name="signaling_server_port" default="8080"/>
    <arg name="signaling_server_password" default="abc"/>
    <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>

    <!-- Signaling server -->
    <include file="$(find opentera_webrtc_demos)/launch/opentera_signaling_server.launch">
        <arg name="signaling_server_port" value="$(arg signaling_server_port)" />
        <arg name="signaling_server_password" value="$(arg signaling_server_password)" />
    </include>

</launch>   
