<launch>
    <arg name="signaling_server_hostname" default="localhost"/>
    <arg name="signaling_server_port" default="8080"/>
    <arg name="signaling_server_password" default="abc"/>
    <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="centered_robot" default="true"/>
    <arg name="robot_vertical_offset" default="180"/>
    <arg name="rviz" default="false"/>
    <arg name="is_stand_alone" default="false"/>

    <arg name="output" default="screen"/>

    <!-- Offline Demo (if is_stand_alone) -->
    <include if="$(arg is_stand_alone)" file="$(find opentera_webrtc_demos)/launch/demo-offline.launch">
        <arg name="signaling_server_hostname" value="$(arg signaling_server_hostname)"/>
        <arg name="signaling_server_port" value="$(arg signaling_server_port)"/>
        <arg name="signaling_server_password" value="$(arg signaling_server_password)"/>
        <arg name="model" value="$(arg model)"/>
        <arg name="centered_robot" value="$(arg centered_robot)"/>
        <arg name="robot_vertical_offset" value="$(arg robot_vertical_offset)"/>
        <arg name="rviz" value="$(arg rviz)"/>
        <arg name="output" value="$(arg output)"/>
    </include>

    <!-- Online Demo (if not is_stand_alone) -->
    <include unless="$(arg is_stand_alone)" file="$(find opentera_webrtc_demos)/launch/demo-online.launch">
        <arg name="signaling_server_hostname" value="$(arg signaling_server_hostname)"/>
        <arg name="signaling_server_port" value="$(arg signaling_server_port)"/>
        <arg name="signaling_server_password" value="$(arg signaling_server_password)"/>
        <arg name="model" value="$(arg model)"/>
        <arg name="centered_robot" value="$(arg centered_robot)"/>
        <arg name="robot_vertical_offset" value="$(arg robot_vertical_offset)"/>
        <arg name="rviz" value="$(arg rviz)"/>
        <arg name="output" value="$(arg output)"/>
    </include>

</launch>
