<launch>
    <arg name="signaling_server_hostname" default="localhost"/>
    <arg name="signaling_server_port" default="8080"/>
    <arg name="signaling_server_password" default="abc"/>
    <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="centered_robot" default="true"/>
    <arg name="robot_vertical_offset" default="180"/>
    <arg name="rviz" default="false"/>
    <arg name="camera_id" default="0"/>
    <arg name="use_outgoing_face_following" default="false"/>
    <arg name="use_incoming_face_following" default="false"/>

    <arg name="output" default="screen"/>

    <!-- OpenTera Client (with default config file) -->
    <include file="$(find opentera_client_ros)/launch/client.launch">
        <arg name="opentera_client_config_file" default="~/.ros/opentera/client_config.json"/>
        <arg name="output" default="$(arg output)"/>
    </include>

        <!-- OpenTera Demo -->
    <include file="$(find opentera_webrtc_demos)/launch/opentera_demo.launch">
        <arg name="signaling_server_hostname" value="$(arg signaling_server_hostname)"/>
        <arg name="signaling_server_port" value="$(arg signaling_server_port)"/>
        <arg name="signaling_server_password" value="$(arg signaling_server_password)"/>
        <arg name="model" value="$(arg model)"/>
        <arg name="centered_robot" value="$(arg centered_robot)"/>
        <arg name="robot_vertical_offset" value="$(arg robot_vertical_offset)"/>
        <arg name="rviz" value="$(arg rviz)"/>
        <arg name="output" value="$(arg output)"/>
        <arg name="is_stand_alone" value="false"/>
        <arg name="camera_id" value="$(arg camera_id)"/>
        <arg name="use_outgoing_face_following" value="$(arg use_outgoing_face_following)"/>
        <arg name="use_incoming_face_following" default="$(arg use_incoming_face_following)"/>
    </include>

</launch>
