<?xml version="1.0"?>
<launch>

  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>

  <!-- Standalone launcher to visualize the robot model. -->
  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_beam_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find opentera_webrtc_demos)/config/model.rviz" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
