<launch>

  <!-- Requirements for server must be installed first -->
  <arg name="signaling_server_path" default="$(find opentera_webrtc_ros)/opentera-webrtc/signaling-server"/>

  <arg name="signaling_server_port" default="8080"/>
  <arg name="signaling_server_password" default="abc"/>
  <arg name="signaling_server_robot_type" default="demo"/>

  <arg name="python_executable" default="python3"/>

  <arg name="use_tls" default="false"/>
  <arg name="certificate" default=""/>
  <arg name="key" default=""/>

  <!-- The teleop frontend must be installed built first -->
  <arg name="signaling_server_static_folder" default="$(find opentera_webrtc_demos)/opentera-webrtc-teleop-frontend/teleop-vue/dist"/>

  <node if="$(arg use_tls)" pkg="opentera_webrtc_demos" type="start_signaling_server_tls.sh"
        args="$(arg signaling_server_path) $(arg signaling_server_port) $(arg signaling_server_password) $(arg signaling_server_static_folder) $(arg signaling_server_robot_type) $(arg python_executable) $(arg certificate) $(arg key)"
        name="opentera_signaling_server" output="screen">
  </node>
  <node unless="$(arg use_tls)" pkg="opentera_webrtc_demos" type="start_signaling_server.sh"
        args="$(arg signaling_server_path) $(arg signaling_server_port) $(arg signaling_server_password) $(arg signaling_server_static_folder) $(arg signaling_server_robot_type) $(arg python_executable)"
        name="opentera_signaling_server" output="screen">
  </node>

</launch>
