name: pull-request-audit

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          path: colcon_ws/src/opentera-webrtc-ros
      - uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble

      - uses: actions/setup-node@v4
        with:
          node-version: "16"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install ros-humble-rtabmap-ros libunwind-dev
          sudo apt-get install libglib2.0-dev libgtk-3-dev libpulse-dev libasound2-dev
          sudo apt-get install python3-pip portaudio19-dev
          sudo apt-get install build-essential gfortran texinfo
          sudo apt-get install libfftw3-dev libconfig-dev pulseaudio
          sudo apt-get install libprotobuf-dev protobuf-compiler
          sudo apt-get install libqt5charts5-dev
          sudo apt-get install libunwind-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libgstreamer-plugins-bad1.0-dev gstreamer1.0-plugins-base
          sudo apt-get install gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly gstreamer1.0-libav gstreamer1.0-tools

      - name: Clone audio_utils in ROS workspace
        working-directory: colcon_ws/src
        run: |
          source /opt/ros/humble/setup.bash
          git clone https://github.com/introlab/audio_utils.git --recurse-submodules

      - name: Clone odas_ros in ROS workspace
        working-directory: colcon_ws/src
        run: |
          source /opt/ros/humble/setup.bash
          git clone https://github.com/introlab/odas_ros.git --recurse-submodules

      - name: Install Python requirements packaging and documentation
        working-directory: colcon_ws/src/opentera-webrtc-ros/opentera_webrtc_ros/opentera-webrtc
        run: |
          python3 -m pip install -r requirements.txt

      - name: Install Python requirements for OpenTera client
        working-directory: colcon_ws/src/opentera-webrtc-ros/opentera_client_ros
        run: |
          python3 -m pip install -r requirements.txt

      - name: Install Python requirements for Signaling server
        working-directory: colcon_ws/src/opentera-webrtc-ros/opentera_webrtc_ros/opentera-webrtc/signaling-server
        run: |
          python3 -m pip install -r requirements.txt

      - name: Install the VUE.js frontend
        working-directory: colcon_ws/src/opentera-webrtc-ros/opentera_webrtc_demos/opentera-webrtc-teleop-frontend/teleop-vue
        run: |
          npm --version
          node --version
          npm config set strict-ssl false
          npm install
          npm run build

      - name: Compile packages in ROS workspace
        working-directory: colcon_ws
        run: |
          source /opt/ros/humble/setup.bash
          colcon build --cmake-args -Wno-dev
